@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap');

* {
    font-family: 'Flamenco', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}


a:hover {
    text-decoration: none;
    
}

div.featured__products__container {
    background-color: #05265d;
}
div.featured__categories__container {
    background-color: #05265d;
}
div.product__card__detail {
    background-color: #e4007c;
}
#root {
    background-color: #e4007c;
}
h1.div.landing__header__container {
    color: #f5b51b;
}
#root > div.d-flex.min-vh-100.w-100.justify-content-center.align-items-center.m-auto {
    background-color: #05265d;
}
#root > div.d-flex.min-vh-100.w-100.justify-content-center.align-items-center.m-auto.min-vh-100 {
    min-height: 99vh!important;
}
#root > div.featured__products__container > div > div.d-flex.min-vh-100.w-100.justify-content-center.align-items-center.m-auto {
    min-height: 76vh!important;
}
#root > div.featured__products__container > div > div.featured__products__header > a:hover{
    color: #f5b51b;
}
#root > div.header__container > nav > div > ul a:hover{
    color: #f5b51b;
}
div.shop__category__header {
    color: #f5b51b;
}
div.category__header {
    color: #f5b51b;
}
div.MuiDrawer-root.MuiDrawer-modal.MuiModal-root.css-1u2w381-MuiModal-root-MuiDrawer-root > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
    background-color: #e4007c !important;
}
/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #227081;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2f99b1;
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3eb2cc;
    border-radius: 12px;
}
@media screen and (width <= 1471px) {
    h1.navbrand {
        font-size: 1.5rem;
    }
}
@media screen and (width <= 1328px) {
    h1.navbrand {
        font-size: 1.4rem;
    }
}
@media screen and (width <= 1257px) {
    form.search__form {
        width: 85%;
    }
    h1.navbrand {
        font-size: 1.3rem;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (width <= 1200px) {
    form.search__form {
        width: 95%;
    }
    h1.navbrand {
        font-size: 1.3rem;
    }
}
@media screen and (width <= 1184px) {
    h1.navbrand {
        font-size: 1.2rem;
    }
}
@media screen and (width <= 1112px) {
    h1.navbrand {
        font-size: 1.1rem;
    }
}
@media screen and (width <= 1080px){
    h1.navbrand {
        font-size: 1.1rem;
    }
    div.landing__header {
        padding-bottom: 2%;
    }
    h1.landing__header__main{
        font-size: 1.4rem;
    }
    h3.landing__header__discount{
        font-size: 1.5rem;
    }
    img.landing__image {
        height: 545px;
        margin-bottom: 15px;
    } 
}
@media screen and (width <= 1020px) {
    img.landing__image {
        height: 540px;
        margin-bottom: 15px;
    }
    h1.navbrand {
        margin-left: 50px;
    } 
}
@media screen and (width <= 1010px) {
    img.landing__image {
        height: 510px;
        margin-bottom: 15px;
    }
    h1.navbrand {
        margin-left: 50px;
    } 
}
@media screen and (width <=954px) {
    img.landing__image {
        height: 500px;
        margin-bottom: 15px;
    }
    h1.navbrand {
        margin-left: 50px;
    } 
}
@media screen and (width <=935px) {
    img.landing__image {
        height: 480px;
        margin-bottom: 15px;
    }
    h1.navbrand {
        margin-left: 50px;
    } 
}
@media screen and (width <=918px) {
    h1.landing__header__main{
        font-size: .9rem;
    }
    h1.navbrand {
        margin-left: 50px;
    }  
}
@media screen and (width <=898px) {
    img.landing__image {
        height: 440px;
        margin-bottom: 15px;
    }
    form.search__form {
        width: 220px;
    }
    h1.navbrand {
        margin-left: 90px;
    }  
}
@media screen and (width <=850px) {
    h1.navbrand {
        margin-left: 90px;
    }
    img.landing__image {
        height: 440px;
        margin-bottom: 15px;
    }
    .landing__image__container {
        display: contents !important;
    }
    .landing__header__container {
        display: contents !important;
    }
    form.search__form {
        width: 220px;
    } 
}
@media screen and (width <= 827px) {
    div.footer__social__link__container{
        width: 600px;
        height: 60px;
        display: grid;
        margin-bottom: 10px;
        margin-top: -10px;
        margin-left: 35px;
    }
    li.social__link {
        margin-left: 13%;
    }   
}
@media screen and (width <= 768px){
    h1.navbrand {
        font-size: 1.1rem;
        margin-left: 90px;
    }
    form.search__form {
        width: 220px;
    }
    h1.landing__header__main{
        font-size: .9rem;
    }
    h3.landing__header__discount{
        font-size: 1rem;
    }
    img.landing__image {
        height: 340px;
    }
    .landing__image__container {
        display: contents !important;
    }
    .landing__header__container {
        display: contents !important;
    }
    div.footer__social__link__container{
        width: 600px;
        height: 60px;
        display: grid;
        margin-bottom: 10px;
        margin-top: -10px;
    }
    li.social__link {
        margin-left: 13%;
    }
    ul.footer__social__links {
        margin-left: 0px;
    }
    div.landing__header {
        padding-bottom: 2%;
    } 
}
@media screen and (width <= 720px) {
    img.landing__image {
        height: 310px;
    }
    div.landing__header {
        padding-bottom: 2%;
    }
}
@media screen and (width <= 656px) {
    img.landing__image {
        height: 300px;
       }
}
@media screen and (width <= 600px){
    h1.navbrand {
        font-size: 1.1rem;
        margin-left: 90px;
    }
   form.search__form {
    width: 205px;
   }
   h1.landing__header__main{
    font-size: .9rem;
   }
   h3.landing__header__discount{
    font-size: 1rem;
   }
   img.landing__image {
    height: 290px;
   }
   .landing__image__container {
    display: contents !important;
   }
   .landing__header__container {
    display: contents !important;
   }
   div.footer__help__container {
    width: 150px;
    margin-left: 47px;
   }
   div.footer__contact__container {
   width: 400px;
   }
   div.footer__social__link__container{
    width: 600px;
    height: 60px;
    display: grid;
    margin-bottom: 10px;
    margin-top: -10px;
   }
   ul.footer__social__links {
    margin-left: 0px;
   }
   li.social__link {
    margin-left: 13%;
   }    
}
@media screen and (width <= 589px) {
    ul.nav {
        font-size: .9rem;
    }
    div.footer__contact__container {
        width: 284px;
    }
    div.footer__items__container {
        font-size: .7rem;
    }
    form.search__form {
        width: 205px;
    }
    div.form__container {
        display: none;
    }
    div.drawer {
        margin-left: 303px;
    }
}
@media screen and (width <= 566px) {
    ul.nav {
        font-size: .9rem;
    }
    div.footer__contact__container {
        width: 284px;
    }
    div.footer__items__container {
        font-size: .7rem;
    }
    form.search__form {
        width: 205px;
    }
    div.form__container {
        display: none;
    }
    div.drawer {
        margin-left: 296px;
    }
}
@media screen and (width <= 501px) {
    ul.nav {
        font-size: .9rem;
    }
    div.footer__contact__container {
        width: 284px;
    }
    div.footer__items__container {
        font-size: .7rem;
    }
    form.search__form {
        width: 205px;
    }
    div.form__container {
        display: none;
    }
    div.drawer {
        margin-left: 296px;
    }
}
@media screen and (width <= 494px) {
    ul.nav {
        font-size: .8rem;
    }
    div.footer__contact__container {
        width: 284px;
    }
    div.footer__items__container {
        font-size: .6rem;
    }
    div.drawer {
        margin-left: 0px;
    }
}
@media screen and (width <= 477px) {
    ul.nav {
        font-size: .8rem;
    }
    div.footer__contact__container {
        width: 265px;
    }
    div.footer__items__container {
        font-size: .6rem;
    }
    
}
@media screen and (width <= 430px) {
    ul.nav {
        font-size: .8rem;
    }
    div.footer__items__container {
        font-size: .6rem;
    }
    h1.navbrand {
        font-size: 1.1rem;
        margin-left: 70px;
    }
    h1.landing__header__main {
        font-size: .7rem;
    }
    h3.landing__header__discount {
        font-size: 1rem;
    }
    img.landing__image {
        height: 260px;
        margin-top: -25px;
    }
    .landing__image__container {
        display: contents !important;
    }
    .landing__header__container {
        display: contents !important;
    }
    .landing__header {
        margin-top: -25px;
    }
    .featured__header__big {
        font-size: 1.8rem;
    }
    h3.featured__items__header__big {
        font-size: 1.5rem;
    }
    div.footer__help__container {
        width: 110px;
    }
    div.footer__contact__container {
        width: 230px;
    }
    div.footer__social__link__container {
        width: 360px;
        height: 60px;
        display: grid;
        margin-bottom: 10px;
        margin-top: -10px;
    }
    ul.footer__social__links {
        margin-left: -2px;
    }
    li.social__link {
        margin-left: 21%;
    }
    .fotter__help__links {
        margin: 5%;
        padding: 2%;
    }
    form.search__form {
        width: 205px;
    }
}
@media screen and (width <= 412px) {
    ul.nav {
        font-size: .8rem;
    }
    div.footer__items__container {
        font-size: .6rem;
    }
    h1.navbrand {
        font-size: 1.1rem;
        margin-left: 70px;
    }
    h1.landing__header__main{
        font-size: .7rem;
    }
    h3.landing__header__discount{
        font-size: 1rem;
    }
    img.landing__image {
        height: 260px;
        margin-top: -25px;
    }
    .landing__image__container {
        display: contents !important;
    }
    .landing__header__container {
        display: contents !important;
    }
    .landing__header {
        margin-top: -25px;
    }
    .featured__header__big {
        font-size: 1.8rem;
    }
    h3.featured__items__header__big {
        font-size: 1.5rem;
    }
    div.footer__help__container {
        width: 110px;
    }
    div.footer__contact__container {
        width: 229x;
    }
    div.footer__social__link__container {
        width: 360px;
        height: 60px;
        display: grid;
        margin-bottom: 10px;
        margin-top: -10px;
    }
    ul.footer__social__links {
        margin-left: -2px;
    }
    li.social__link {
        margin-left: 21%;
    }
    .fotter__help__links {
        margin: 5%;
        padding: 2%;
    }
    form.search__form {
        width: 205px;
    }
}
@media screen and (width <= 389px) {
    ul.nav {
        font-size: .7rem;
    }
    div.footer__social__link__container {
        margin-right: 35px;
    }
}
@media screen and (width <= 381px) {
    ul.nav {
        font-size: .7rem;
    }
     div.footer__contact__container {
        width: 229px;
    }
    div.footer__help__container {
        width: 95px;
    }
}
@media screen and (width <= 375px){
    ul.nav {
        font-size: .7rem;
    }
    div.footer__items__container {
        font-size: .6rem;
    }
    h1.navbrand {
        font-size: 1.0rem;
        margin-left: 70px;
    }
    h1.landing__header__main{
        font-size: .6rem;
    }
    h3.landing__header__discount{
        font-size: .9rem;
    }
    img.landing__image {
        height: 240px;
        margin-top: -25px;
    }
    .landing__image__container {
        display: contents !important;
    }
    .landing__header__container {
        display: contents !important;
    }
    .landing__header {
        margin-top: -25px;
    }
    .featured__header__big {
        font-size: 1.8rem;
    }
    h3.featured__items__header__big {
        font-size: 1.5rem;
    }
    div.footer__help__container {
        width: 110px;
    }
    div.footer__contact__container {
        width: 229px;
    }
    div.footer__social__link__container {
        width: 360px;
        height: 60px;
        display: grid;
        margin-bottom: 10px;
        margin-top: -10px;
    }
    ul.footer__social__links {
        margin-left: -17px !important;
    }
    li.social__link {
        margin-left: 21%;
    }
    .fotter__help__links {
        margin: 5%;
        padding: 2%;
    }
    form.search__form {
        width: 205px;
    }
}
@media screen and (width <= 360px){
    ul.nav {
        font-size: .6rem;
    }
    div.footer__items__container {
        font-size: .6rem;
    }
    h1.navbrand {
        font-size: 1.0rem;
        margin-left: 70px;
    }
    h1.landing__header__main{
        font-size: .6rem;
    }
    h3.landing__header__discount{
        font-size: .9rem;
    }
    img.landing__image {
        height: 240px;
        margin-top: -25px;
    }
    .landing__image__container {
        display: contents !important;
    }
    .landing__header__container {
        display: contents !important;
    }
    .landing__header {
        margin-top: -25px;
    }
    .featured__header__big {
        font-size: 1.8rem;
    }
    h3.featured__items__header__big {
        font-size: 1.5rem;
    }
    div.footer__help__container {
        width: 110px;
    }
    div.footer__contact__container {
        width: 229px;
        margin-left: 0px;
    }
    div.footer__social__link__container {
        width: 360px;
        height: 60px;
        display: grid;
        margin-bottom: 10px;
        margin-top: -10px;
    }
    ul.footer__social__links {
        margin-left: -17px !important;
    }
    li.social__link {
        margin-left: 21%;
    }
    .fotter__help__links {
        margin: 5%;
        padding: 2%;
    }
    form.search__form {
        width: 205px;
    }
}
@media screen and (width <= 335px){
    }
    div.footer__help__container {
        width: 95px;
        margin-left: 0px;
    }
@media screen and (width <= 334px){
    ul.nav {
        font-size: .6rem;
    }
    div.footer__contact__container {
        width: 229px;
    }
    div.footer__help__container {
        width: 95px;
        margin-left: 0px;
    }
}
@media screen and (width <= 323px){
    div.footer__contact__container {
        width: 229px;
    }
    div.footer__help__container {
        width: 55px;
    }
}
@media screen and (width <= 320px){
    div.footer__contact__container {
        width: 229px;
    }
    div.footer__help__container {
        width: 55px;
    }
}