@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap');

* {
    font-family: 'Flamenco', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}


a:hover {
    text-decoration: none;
    
}

div.featured__products__container {
    background-color: #05265d;
}
div.featured__categories__container {
    background-color: #05265d;
}
div.product__card__detail {
    background-color: #e4007c;
}
#root {
    background-color: #e4007c;
}
h1.div.landing__header__container {
    color: #f5b51b;
}
#root > div.d-flex.min-vh-100.w-100.justify-content-center.align-items-center.m-auto {
    background-color: #05265d;
}
#root > div.d-flex.min-vh-100.w-100.justify-content-center.align-items-center.m-auto.min-vh-100 {
    min-height: 99vh!important;
}
#root > div.featured__products__container > div > div.d-flex.min-vh-100.w-100.justify-content-center.align-items-center.m-auto {
    min-height: 76vh!important;
}
#root > div.featured__products__container > div > div.featured__products__header > a:hover{
    color: #f5b51b;
}
#root > div.header__container > nav > div > ul a:hover{
    color: #f5b51b;
}
div.shop__category__header {
    color: #f5b51b;
}
div.category__header {
    color: #f5b51b;
}
/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #227081;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2f99b1;
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3eb2cc;
    border-radius: 12px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1.navbrand {
        font-size: 1.1rem;
        margin-left: 70px;
    }
   div.MuiDrawer-root.MuiDrawer-modal.MuiModal-root.css-1u2w381-MuiModal-root-MuiDrawer-root > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
    background-color: #e4007c;
   }
   form.search__form {
    width: 205px;
   }
   h1.landing__header__main{
    font-size: .9rem !important;
   }
   h3.landing__header__discount{
    font-size: 1rem !important;
   }
   img.landing__image {
    height: 290px;
   }
   .landing__image__container {
    display: contents !important;
   }
   .landing__header__container {
    display: contents !important;
   }
   .footer__help__container {
    width: 150px !important;
    margin-left: 47px;
   }
   div.footer__contact__container {
   width: 400px !important;
   }
   div.footer__social__link__container{
    width: 600px;
    height: 60px;
    display: grid;
    margin-bottom: 10px;
    margin-top: -10px;
   }
   ul.footer__social__links {
    margin-left: 0px !important;
   }
   li.social__link {
    margin-left: 13%;
   }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1.navbrand {
        font-size: 1.1rem;
        margin-left: 70px;
    }
   div.MuiDrawer-root.MuiDrawer-modal.MuiModal-root.css-1u2w381-MuiModal-root-MuiDrawer-root > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
    background-color: #e4007c;
   }
   form.search__form {
    width: 205px;
   }
   h1.landing__header__main{
    font-size: .9rem !important;
   }
   h3.landing__header__discount{
    font-size: 1rem !important;
   }
   img.landing__image {
    height: 290px;
   }
   .landing__image__container {
    display: contents !important;
   }
   .landing__header__container {
    display: contents !important;
   }
   .footer__help__container {
    width: 150px !important;
    margin-left: 47px;
   }
   div.footer__contact__container {
   width: 400px !important;
   }
   div.footer__social__link__container{
    width: 600px;
    height: 60px;
    display: grid;
    margin-bottom: 10px;
    margin-top: -10px;
   }
   ul.footer__social__links {
    margin-left: 0px !important;
   }
   li.social__link {
    margin-left: 13%;
   }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    div.footer__social__link__container {
        width: 768px !important;
    }
    form.search__form {
    width: 220px;
   }
}